* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#f1cbd5, #f3dcd2);
}
/* CSS Variables */
:root {
  --background-image: #fff8e3;
  --navbar-height: 59px;
  --darkcolor: #e6a4b4;
  --seccolor: #f3d7ca;
  --thirdcolor: #fff8e3;
  --background-color: #f5eee6;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

#navbar::before {
  content: "";
  background-color: #e22f5c9c;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 34px;
}
#logo {
  margin-right: auto;
}
#logo {
  cursor: pointer;
}
#logo img {
  height: 59px;
  margin: 3px 6px;
}

#navbar ul {
  display: flex;
  font-family: "Arial", sans-serif;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: var(--thirdcolor);
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: var(--thirdcolor);
}

/* =========
home page 
========= */

#home body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.content {
  flex: 1;
  padding: 30px;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
  color: black;
  padding: 20px;
  margin-left: 20px;
  font-size: 40px;
}

p {
  color: black;
  padding: 5px;
  margin-left: 30px;
  font-size: 20px;
}

/* ========
join us button 
========== */

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 22px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn {
  background-color: #e6486f;
  background-image: linear-gradient(315deg, #e6486f 0%, #db6984 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn:hover {
  background-color: #e95f82;
  background-image: linear-gradient(315deg, #e95f82 0%, #e71449 74%);
}
.btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn:before {
  height: 0%;
  width: 0.1px;
}
.btn:after {
  width: 0%;
  height: 0.1px;
}
.btn:hover:before {
  height: 100%;
}
.btn:hover:after {
  width: 100%;
}
.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn span:before {
  width: 0.1px;
  height: 0%;
}
.btn span:after {
  width: 0%;
  height: 0.1px;
}
.btn span:hover:before {
  height: 100%;
}
.btn span:hover:after {
  width: 100%;
}

/* =======
line 
======= */

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 80vw;
  height: 4px;
  background-color: #e76b8a;
  padding-left: 10%;
  position: relative;
  transition: width 0.3s ease-in-out;
}

.line:hover {
  width: 100px;
}

/* ----------
expert
---------- */

.expert-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.expert-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.expert-card .card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.expert-card:hover .card-inner {
  transform: rotateY(180deg);
}

.expert-card .card-front,
.expert-card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 20px;
}

.expert-card .card-front {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expert-card .card-back {
  background-color: #e22f5c;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.expert-card img {
  width: 80%;
  height: auto;
}

.expert-card h2 {
  margin-top: 20px;
}

.expert-card p {
  text-align: center;
  padding: 20px;
}

/* -------
button
------- */

.transition-button {
  padding: 10px 20px;
  background-color: #dd5174;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.transition-button:hover {
  background-color: #e71449; 
}

/* -------------
testimonials
----------- */

.testi-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}

.testimonial .testi-image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

.slide p {
  text-align: center;
  padding: 0 100px;
  font-size: 20px;
  font-weight: 400;
  /* color: #eb6385; */
  color: black;
}

.slide .quote-icon {
  font-size: 32px;
  color: #f00a43;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.details .job {
  font-size: 16px;
  font-weight: 400;
  color: #f00a43;
}

/* swiper button css */

.nav-btn {
  height: 30px !important;
  width: 40px !important;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: #f1b8c6;
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: #fcbfdd;
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px !important;
  color: #db6984;
}

.swiper-pagination-bullet {
  background-color: #da6683 !important;
}

.swiper-pagination-bullet-active {
  background-color: #e71449 !important;
}

/* -----------------
  counter number
------------------ */

.wrapper {
  position: absolute;
  width: 80vw;
  transform: translate(-50%, -50%);
  /* top: 50%; */
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.counter {
  width: 28vmin;
  height: 15vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: var(--darkcolor);
  border-bottom: 10px solid #e71449;
}

span.num {
  color: #dd5174;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: #000;
  font-size: 20px;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

footer {
  background-color: #f1d2d2;
  padding-top: 50px;
}
.footer-container {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 33.3%;
}
h3 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p {
  width: 100px;
  margin: auto;
  padding: 7px;
  color: rgb(41, 40, 40);
}
.footer-content ul {
  text-align: center;
}
.list {
  padding: 0;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #e22f5c;
  transition-duration: 0.5s;
}

.list li:hover::before {
  width: 70px;
}

.social-icons {
  text-align: center;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}

a {
  text-decoration: none;
  color: rgb(41, 40, 40);
}

a:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.social-icons a {
  color: rgb(41, 40, 40);
  line-height: 30px;
  font-size: 30px;
  margin: 0 5px;
  text-decoration: none;
}
.social-icons a i {
  line-height: 30px;
  font-size: 30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.social-icons a:hover i {
  box-shadow: 0px 0px 150px #f3003d;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.bottom-bar {
  background-color: #df4b70;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p {
  color: black;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
